.main-footer{
    /* background:linear-gradient(90deg, rgb(110,94,254) 0% ,rgba(73,63,252,1) 100%); */
    display:grid;
    background: rgb(9,23,121);
background: linear-gradient(90deg, rgba(9,23,121,1) 8%, rgba(218,0,255,1) 100%);
    grid-template-columns: repeat(5,auto);
    grid-gap :10px;
    list-style :none;
    text-align: center;
    width:100%;
    justify-content:center;
    padding:50px;
    /* margin-right: -3rem; */
   
}
.main-footer .container .row{
    color: #fff;
    list-style :none;
    text-decoration: none;
}
.list{
    text-decoration: none!important;
    display:flex;
    justify-content:space-between;
    padding-bottom: 20px;
    
}
hr{
    color:#fff;
    /* padding:20px; */
}
li{
    text-decoration: none;
}
.main-footer .row .col-sm{
    padding-top: 10px;
}
.main-footer .container .row .col1 h1{
    padding-bottom: 30px;
    font-size:60px;
}